Repository totto2727-org/js-package: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,md,json,jsonc}"
      run: deno fmt {staged_files}
    lint:
      glob: "*.{ts,tsx}"
      run: deno lint {staged_files}
    check:
      glob: "*.{ts,tsx}"
      run: deno check {staged_files}

pre-push:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,md,json,jsonc}"
      run: deno fmt --check {push_files}
    lint:
      glob: "*.{ts,tsx}"
      run: deno lint {push_files}
    check:
      glob: "*.{ts,tsx}"
      run: deno check {push_files}
    unit-test:
      run: deno task test

doc: add README.md for each package doc
  _template/README.md
  error/README.js.md
  error/README.md
  remark-link-card/README.md
  result/README.md
  safe/README.md
  sleep/README.md
  test/README.md
Due: fmt

chore: add dependencies update task
  deno.json
Due: fmt

chore(deps): update dependancies
  remark-link-card/lib/deps.ts
Due: fmt, lint, check

chore(release): update v0.1.1
  CHANGELOG.md
  deno.json
Due: fmt

doc: add usage in root package doc
  README.md
Due: fmt

chore: add markdown-disable in changelog
  cliff.toml
Due: none

doc: add Conventional Commits rule for CONTRIBUTING.ja.md
  CONTRIBUTING.ja.md
Due: fmt

fix: missing exports of result/lazy and result/eager
  deno.json
Due: fmt

fix: add type for slow type in lazy.ts
  result/lib/lazy.ts
Due: fmt, lint, check

doc: add usege for result/eager and result/lazy
  result/README.md
Due: fmt

chore(release): update v0.1.2
  CHANGELOG.md
  deno.json
Due: fmt

chore: exclude CHANGELOG.md in deno.json
  deno.json
Due: fmt

chore: remove auto test in prepush
  lefthook.yml
Due: none

chore: match the title of the root README.md to the package name
  README.md
Due: fmt

feat: reproduce network errors with stubFetch
  test/lib/stub.ts
Due: fmt, lint, check

chore: v0.2.0
  CHANGELOG.md
  deno.json
Due: fmt

fix: change to reject instead of throw
  test/lib/stub.ts
Due: fmt, lint, check

chore: update v0.2.1
  CHANGELOG.md
  deno.json
Due: fmt
